<%form_for model, :url => model_path do |f|%>
  <p>
    <%=f.error_messages%>
  </p>

  <p>
    <%=f.label model_config.key%><br/>
    <%=f.text_field model_config.key%>
  </p>

  <p>
    <%=f.label :password%><br/>
    <%=f.password_field :password, :value => ''%>
  </p>

  <p>
    <%=f.label :password_confirmation%><br/>
    <%=f.password_field :password_confirmation, :value => ''%>
  </p>

  <p>
    <%=f.submit(model.new_record? ? "Sign up" : "Update Profile")%>
  </p>
<%end%>
