<%=form_for model, :url => model_path do |f|%>
  <%if Rails::VERSION::MAJOR == 2%>
    <p>
      <%=f.error_messages%>
    </p>
  <%else%>
    <p>
      <%model.errors.each do |error, message|%>
        <%=error.to_s.titleize%> <%=message%>
      <%end%>
    </p>
  <%end%>
  
  <p>
    <%=f.label model_config.key%><br/>
    <%=f.text_field model_config.key%>
  </p>
  
  <p>
    <%=f.label :password%><br/>
    <%=f.password_field :password, :value => ''%>
  </p>
  
  <p>
    <%=f.label :password_confirmation%><br/>
    <%=f.password_field :password_confirmation, :value => ''%>
  </p>
  
  <p>
    <%=f.submit "Sign up"%>
  </p>
<%end%>
